
/*
 * Карточка "Не нашли нужную инструкцию?"
 * не является инструкцией и не должна иметь номер.
 */

.generationCatalogCard::before,
.generationCatalogCard::after {
  content: none !important;
  display: none !important;
}


/*
 * Если общий card-класс увеличивает CSS counter,
 * специальную карточку из счётчика исключаем.
 */
.generationCatalogCard {
  counter-increment: none !important;
}

