/*
 * HIDE SORTING LABEL
 *
 * Оставляем только:
 *
 * Сначала новые   Популярные
 */

.boykovInstructionSort__label {
  display: none !important;
}


/*
 * После удаления label
 * прижимаем controls вправо.
 */

.boykovInstructionSort {
  justify-content: flex-end !important;
}


/*
 * Mobile — тоже без лишнего пустого места.
 */

@media (max-width: 700px) {

  .boykovInstructionSort {
    justify-content: flex-end !important;
  }

}
